
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col text-center">
                <h3>Test Report</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Something Neat</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Nullam dui nisi, finibus ac facilisis sed, hendrerit a justo. Vestibulum quis arcu sit amet est commodo tincidunt quis quis libero. Maecenas quis elementum ipsum. Morbi eu libero varius, varius libero non, faucibus odio. Fusce eget pharetra velit, finibus mollis diam. Nullam justo risus, semper sit amet fringilla nec, viverra aliquam erat. Integer egestas justo nunc, quis tempor risus fermentum vel. Nullam at ante magna. Cras pellentesque volutpat leo, eget auctor tellus congue nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent et nisl in quam vehicula iaculis. Donec faucibus congue ornare. Fusce maximus tempus nunc vitae cursus. Morbi dignissim, mauris nec vulputate varius, tellus dolor pellentesque sem, non ornare lectus nibh ut augue. Fusce volutpat feugiat lectus, at pretium dui suscipit pellentesque.</p>
            </div>
        </div>
    </div>
</body>
</html>
